<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-2050">
    <div class="cs-container">
        <picture class="cs-picture">
            <img loading="lazy" decoding="async" src="../../assets/images/english-ave/english_hero-img.jpg" alt="English Avenue duplex exterior" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Choose English Avenue</span>
            <h2 class="cs-title">Spacious Living Near UTRGV</h2>
            <p class="cs-text">
                Just one block from UTRGV, this two-bedroom duplex offers a quiet retreat in a convenient location. Enjoy quick access to University Drive, local parks, and Edinburg's vibrant dining scene—all while living in a calm residential neighborhood.
            </p>
            <p class="cs-text">
                With water and trash included, reserved parking, and pet-friendly policies, English Avenue is the ideal mix of affordability, comfort, and practicality.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    1 block from UTRGV campus
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Reserved parking and garage/carport options
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Washer/dryer in-unit or on-site
                </li>
            </ul>
            <a href="tel:3618152819" class="cs-button-solid">Call to Inquire</a>
        </div>
    </div>
</section>
