<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-2349">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Now Leasing</span>
            <h2 class="cs-title">French Avenue Duplex</h2>
            <p class="cs-text">
                Comfortable 2-bedroom, 2-bath duplex just one block from UTRGV. Includes water and trash, garage or carport, and washer/dryer options for your convenience.
            </p>
            <a href="tel:3618152819" class="cs-button-solid">Call Now</a>
        </div>
    </div>

    <ul class="cs-stats">
        <li class="cs-item">
            <span class="cs-number">
                <span class="cs-color">$</span>
                850
            </span>
            <span class="cs-desc">Monthly Rent</span>
        </li>
        <li class="cs-item">
            <span class="cs-number">
                850
            </span>
            <span class="cs-desc">Square Feet</span>
        </li>
        <li class="cs-item">
            <span class="cs-number">
                2&nbsp;BR&nbsp;/&nbsp;2&nbsp;BA
            </span>
            <span class="cs-desc">Bed / Bath</span>
        </li>
    </ul>

    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="../../assets/images/french-ave/hero.jpg">
        <source media="(min-width: 601px)" srcset="../../assets/images/french-ave/hero.jpg">
        <img decoding="async" src="../../assets/images/french-ave/hero.jpg" alt="904 French Avenue exterior" width="1800" height="860">
    </picture>
</section>
