<section id="hero-229">
  <div class="cs-container">
    <div class="cs-flex-group">
      <span class="cs-topper"
        >Centrally Located Properties from $600/month</span
      >
      <h1 class="cs-title">
        Find Your Perfect Apartment in McAllen and Edinburg
      </h1>
      <p class="cs-text">
        Discover quality apartments in the heart of McAllen and Edinburg. With
        prime locations near shopping, dining, and major employers, Casasco
        Properties makes finding your next home simple and stress-free.
      </p>
      <div class="cs-button-group">
        <a href="" class="cs-button-solid cs-button">Schedule a Tour</a>
        <a href="" class="cs-button-transparent cs-button">
          <img
            class="cs-img"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
            alt="play icon"
            width="17"
            height="17"
          />
          Learn More
        </a>
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-picture">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="../../assets/images/homepage-hero.jpg"
      alt="Studio apartment"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>
