<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1457">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-img-lg.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-img-lg.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/about-img-lg.jpg"
          alt="turbine"
          width="500"
          height="729"
          aria-hidden="true"
        />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-img-sm.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-img-sm.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src=""
          alt="windmill"
          width="378"
          height="460"
          aria-hidden="true"
        />
        <img src="/assets/images/about-img-sm.jpg" alt="Elegant bathroom" />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">Welcome to CasasCo</span>
      <h2 class="cs-title">
        Your Trusted Property Management Partner in the Rio Grande Valley
      </h2>
      <p class="cs-text">
        At Casasco Properties, we own and manage a diverse portfolio of
        residential apartments throughout McAllen and Edinburg. We understand
        that finding the right home is about more than just four walls – it's
        about location, value, and peace of mind. Our properties are
        strategically located near essential amenities, from grocery stores and
        restaurants to schools and medical facilities. Whether you're a young
        professional, student, or family, we have the perfect space for your
        lifestyle and budget. As local property owners, we're invested in our
        community and committed to providing well-maintained, affordable housing
        options that our tenants are proud to call hom
      </p>
      {# <ul class="cs-ul">
                <li class="cs-li">Stage-focused investing.</li>
                <li class="cs-li">Sector specialization.</li>
                <li class="cs-li">Active involvement.</li>
                <li class="cs-li">Portfolio diversification.</li>
            </ul> #}
      <a href="" class="cs-button-solid"> Explore Our Locations</a>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="
        https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/turbine2.jpg
      "
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="
        https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/turbine2.jpg
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimages2.nyc3.digitaloceanspaces.com/Images/Landscapes/turbine2.jpg"
      alt="turbine"
      width="1280"
      height="568"
    />
  </picture>
</section>
