<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-2050">
    <div class="cs-container">
        <picture class="cs-picture">
            <img loading="lazy" decoding="async" src="../../assets/images/kerria-ave/hero.jpg" alt="2101 Kerria Avenue apartment exterior" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Kerria Avenue</span>
            <h2 class="cs-title">Affordable Comfort in McAllen</h2>
            <p class="cs-text">
                Located near Nolana Avenue and 23rd Street, this one-bedroom apartment offers a convenient lifestyle in a quiet neighborhood. With easy access to shops, dining, and major roads, you’ll enjoy both comfort and connectivity.
            </p>
            <p class="cs-text">
                Utilities included, pet-friendly options, and your own private balcony make Kerria Avenue a perfect choice for singles or couples.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Close to Nolana and 23rd Street
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Water and trash included
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Private balcony and pet-friendly
                </li>
            </ul>
            <a href="tel:3618152819" class="cs-button-solid">Call to Inquire</a>
        </div>
    </div>
</section>
