<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-2050">
    <div class="cs-container">
        <picture class="cs-picture">
            <img loading="lazy" decoding="async" src="../../assets/images/primrose-ave/ave-4/hero.jpg" alt="Primrose Avenue apartment exterior" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Primrose Avenue</span>
            <h2 class="cs-title">Affordable Living in Central McAllen</h2>
            <p class="cs-text">
                This 1-bedroom apartment offers comfort and convenience at an unbeatable price. Located near 10th Street and Nolana Avenue, you’ll have quick access to shopping, dining, and entertainment while enjoying a quiet cul-de-sac setting.
            </p>
            <p class="cs-text">
                Utilities like water and trash are included, and the property offers washer/dryer options and pet-friendly policies—perfect for singles or couples looking for a practical living space.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Near 10th Street and Nolana Avenue
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Water and trash included
                </li>
                <li class="cs-li">
                    <img class="cs-tick" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tick-with-circle.svg" alt="checkmark" width="24" height="24">
                    Pet-friendly with size consideration
                </li>
            </ul>
            <a href="tel:3618152819" class="cs-button-solid">Call to Inquire</a>
        </div>
    </div>
</section>
