---
layout: base.njk
---

{% include "components/french_hero.njk" %}
{{ content | safe }}
{% include "components/french_sbs.njk" %}
{% include "components/french_gallery.njk" %}
{# {% include "components/english_map.njk" %}  #}

