---
layout: base.njk
title: 'Casasco Homepage'
---

{% include "components/hero.njk" %}
{% include "components/home_about.njk" %}
{% include "components/featured-locations.njk" %}
{% include "components/home_why-choose-us.njk" %}
{# {% include "components/footer.njk" %} #}
