---
layout: base.njk
title: 'Casasco Homepage'
---

<h1>Hello World!</h1>
<h1>I am the home page</h1>


<div>
  <h3>Welcome to Casas Co Rentals</h3>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos
  cupiditate consequatur itaque ipsa qui laboriosam illo dolore rem eius?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eius quas
  mollitia dolorem animi sequi ut aperiam iure et aut!
</p>

<a href="/contact">Contact Page</a>

<p>Edit <code>src/index.njk</code> to get started.</p>
