---
layout: base.njk
---

{% include "components/primrose_hero.njk" %}
{{ content | safe }}
{% include "components/primrose_sbs.njk" %}
{% include "components/primrose_gallery.njk" %}
{# {% include "components/location_map.njk" %} #}
