---
layout: base.njk
---

{% include "components/stonehaven_hero.njk" %}
{{ content | safe }}
{% include "components/stonehaven_sbs.njk" %}
{% include "components/stonehaven_gallery.njk" %}
{# {% include "components/english_map.njk" %}  #}
